<<<<<<< HEAD

html, body{
    height: 100%;
    line-height: 1;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    // overflow: hidden;
    overflow-y: scroll;
    font-weight: 200;
    font-size: 12px;
    -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar{
    display: none;
=======

html, body{
    height: 100%;
    line-height: 1;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    font-weight: 200;
    font-size: 12px;
>>>>>>> 6045335339b92ce7a4904f53d26a48b1de2137f1
}